{#
 #
 #
 #}

{% set isSingleArtist = artists|length == 1 %}

<div class="event__artist_side_content event__meta">

	{% set eventPerformances = attribute(performances, artist.id) %}

	{# Performances date/time #}
	{% if artist.type == 'exhibition' %}
		<span class="event__meta_header">{{ 'Vernissasje'|t }}</span>
	{% endif %}

	{% for performance in eventPerformances %}
		{% if event.isMultiDay %}
			{{ performance.date|date('D d.F')|replace('. ', ' ')|replace('.', '. ')|title }}&ensp;{{ performance.time|date("H:i") }}{{ performance.timeEnd ? '-'~performance.timeEnd|date("H:i") : '' }}
			<br>
		{% else %}
			{{ performance.time|date("H:i") }}<br>
		{% endif %}
	{% endfor %}

	{# Location #}
	{% if not isSingleArtist %}
		{% set location = craft.ekko.prepLocation(eventPerformances[0].location) %}
		{% if location is defined %}
			{{ location.fullTitle|raw }}
		{% endif %}
	{% endif %}

	{# if exhibition: opening times  #}
	{% if artist.type == 'exhibition' %}
		<span class="event__meta_header">{{ 'Åpningstider'|t }}</span>
		{{ artist.openingTimes|nl2br|raw }}
	{% endif %}
</div>
