<aside class="side-content right {% if single_artist is defined %} active {% endif %} toggle-content">
	<span class="time">
		{{ day.date|date('Y-m-d') }}<br>
		{{ day.startTime|date("H:i") }} - {{ day.endTime|date("H:i") }}<br>
	</span>

	<span class="location">
		{% for location in day.locations.level(1) %}
			{{ location.fullTitle }}<br>
		{% endfor %}
	</span>

	{% if day.ticketInformation %}
	<span class="tickets">
		{{ day.ticketInformation }}
		<a href="{{ day.ticketLink }}" target="_blank" title="Kjøp billetter">{{ isFestival ? 'Kjøp Dagspass'|t|upper : 'Kjøp Billett'|t|upper }}</a>
	</span>
	{% endif %}

	{% if single_artist is defined and isFestival %}
	<span class="program">
		<h4>{{ 'Dagens Program'|t }}</h4>
		{% set locations = craft.categories.group("locationsCategory").level(2).all() %}

		{% for location in locations %}
	    {% set artists = craft.entries.section('artists').relatedTo(location).date(day.date).order("CONCAT((CASE LEFT(TIME(time), 2) WHEN '00' THEN '25' WHEN '01' THEN '26' WHEN '02' THEN '27' WHEN '03' THEN '28' ELSE LEFT(TIME(time), 2) END),':', RIGHT(TIME(time), 2))") %}
	    {% if artists.total() > 0 %}
	    <span class="location">{{ location.fullTitle }}</span>
	  	<ul class="cf">
	      {% for a in artists %}
	        <li><a href="{{ a.url }}" title="{{ a.title }}">{{ a.shortTitle ? a.shortTitle : a.title }}<span class="time">{{ a.time|date("H:i") }}</span></a></li>
      	{% endfor %}
    	</ul>
      {% endif %}
    {% endfor %}
	</span>
  {% endif %}
</aside>