
{% set dayPerformances = allPerformances.date('=' ~ currentPerformance.date|date("Y-m-d")).all() %}

{# {{ craft.kint.d(currentPerformance.id) }} #}
{% set prev = '' %}
{% set next = '' %}

{% for item in dayPerformances %}
	{# {{ craft.kint.d(item.id) }} #}
	
	{% if item.id == currentPerformance.id %}
		{% set prev = item.prev() %}
		{% set next = item.next() %}
		
		{# {{ craft.kint.d(item.prev()) }} #}
		{# {{ craft.kint.d(item.next()) }} #}
	{% endif %}
{% endfor %}

{# {{ craft.kint.dd(dayPerformances) }} #}

{% if prev|length %}
	{% set e = prev.artist.one() %}
	<a class="button" href="{{ e.url }}">
		{{ e.shortTitle ? e.shortTitle : e.title }}
	</a>
{% endif %}

{% if next|length %}
	{% set e = next.artist.one() %}
	<a class="button button--right" href="{{ e.url }}">
		{{ e.shortTitle ? e.shortTitle : e.title }}
	</a>
{% endif %}