
{#
 # Meta block for single artist entry
 #
 # available fields:
 # - artist (artist section entry)
 # - currentPerformance (performance section entry)
 # - event (event section entry)
 #
 # - day (only if the artist is part of a festival)
 #}

{% set isFestival = isFestival|default(false) %}
{% set day = day|default(null) %}

{% block inner %}
	{% set hasFestivalData = day is not null %}

	{% set performance = currentPerformance %}
	{% set location = craft.ekko.prepLocation(performance.location) %}

	<div class="meta-block meta-block--top">
		<div class="meta-block__row-container">
			{# Date/Time #}
			<div class="meta-block__row">
				<div class="meta-block__title">{{ 'Dato'|t }}</div>
				<div class="meta-block__content">
					{{ performance.date|date('D d.F')|replace('. ', ' ')|replace('.', '. ')|title }}
				</div>
			</div>

			{# Time #}
			<div class="meta-block__row">
				<div class="meta-block__title">{{ 'Tid'|t }}</div>
				<div class="meta-block__content">
					{{ performance.time|date('H:i') }}{{ performance.timeEnd ? ' - ' ~ performance.timeEnd|date('H:i') : '' }}
				</div>
			</div>

			{# Location #}
			<div class="meta-block__row">
				<div class="meta-block__title">{{ 'Sted'|t }}</div>
				<div class="meta-block__content">
					{% if location is defined %}
						{{ location.fullTitle }}
					{% endif %}
				</div>
			</div>

			{# Setup variables for tickets #}
			{% set ticketDescription = event.ticketDescription %}
			{% set ticketLink = event.ticketLink %}

			{% if isFestival %}
				{% set performanceTicket = event.tickets.type('ticket').relatedTo(performance).one() %}
				
				{% if performanceTicket and performanceTicket.ticketLink %}
					{% set ticketLink = performanceTicket.ticketLink %}
				{% endif %}
			{% endif %}

			{% if hasFestivalData %}
				{% set ticketDescription = day.ticketInformation %}
			{% endif %}
			
			{# Location opening times #}
			{% if event.openingTime or (hasFestivalData and day.startTime) %}
				<div class="meta-block__row">
					<div class="meta-block__title">{{ 'Åpningstid'|t }}</div>
					<div class="meta-block__content">
						{% if hasFestivalData %}
							{{ day.startTime|date('H:i') }}{{ day.endTime ? ' - ' ~ day.endTime|date('H:i') : '' }}
						{% else %}
							{{ event.openingTime|date('H:i') }}{{ event.closingTime ? ' - ' ~ event.closingTime|date('H:i') : '' }}
						{% endif %}
					</div>
				</div>
			{% endif %}

			{# Ticket description #}
			{% if ticketDescription|length %}
				<div class="meta-block__row">
					<div class="meta-block__title">{{ 'Billetter'|t }}</div>
					<div class="meta-block__content">
						{{ ticketDescription|nl2br|raw }}
					</div>
				</div>
			{% endif %}
		</div>

		{# Ticket Link #}
		{% if ticketLink|length %}
			<a class="ticket-button" href="{{ ticketLink }}" target="_blank">{{ 'Kjøp billetter'|t }}</a>
		{% endif %}
	</div>

{% endblock %}
