
{#
 # Event - festival
 #}

{% extends "_layout" %}
{% set title = entry.title %}

{% if entry.darkMode %}
  {% set class = 'festival-page -h-slide theme-dark' %}
{% else %}
  {% set class = 'festival-page -h-slide' %}
{% endif %}

{% set performances = entry.performances.with(['artist', 'artist.artistFeaturedPhoto', 'location']).all() %}
{% set artists = craft.ekko.prepArtists(performances) %}
{% set performancesRaw = performances|supersort('sortAs', '{ parsedDateTime }') %}
{% set performancesByArtist = craft.ekko.prepPerformances(performancesRaw) %}

{# {% set home = craft.entries.slug('homepage').one() %} #}


{% block content %}

  {# TEMPORARY HIDE SECTION #}
  {# {% if home.festivalSectionGraphicElements|length %}
    <div class="festivalEntry-hero__wrapper">
      {% for asset in home.festivalSectionGraphicElements %}
          <img src="{{ asset.url }}" class="lazyload" alt="{{ asset.title }}">
      {% endfor %}
    </div>
  {% endif %} #}

	<section id="festival" class="section waypoint cf">

    <div class="festival-hero ekko-2021 -tight">
      <div class="festival-hero__wrapper fp-hero__wrapper">
        {# <div class="fp-hero__content">
          {{ entry.intro }}
        </div> #}
        <div class="fp-hero__content">
          <h1>{{ entry.title }}</h1>
          {% if entry.lineup %}
            <div class="fp-hero__lineup">{{ entry.lineup }}</div>
          {% endif %}
          {% if entry.intro %}
            {{ entry.intro }}
          {% endif %}
        </div>
        <div class="fp-hero__image-background">
            {% include "partials/grid/square" with { size: 6 } %}
        </div>
        <div class="fp-hero__image-wrapper">
          {% if entry.eventFeaturedPhoto|length %}
            {% set asset = entry.eventFeaturedPhoto.one() %}
            <img src="{{ asset.url }}" class="fp-hero__image lazyload" alt="Ekko Festival"/>
          {% else %}
            <img src="{{ url('/assets/img/ekko-2021.gif') }}" class="fp-hero__image lazyload" alt="Ekko Festival"/>
          {% endif %}
        </div>
      </div>
    </div>

    {# {% if entry.lineup %}
      <div class="festival-lineup">
        <h2>Lineup</h2>
        <div class="section__main">{{ entry.lineup }}</div>
      </div>
    {% endif %} #}

  {# <div class="section__main">
    <div class="section__featuredImage">
      {% if entry.eventFeaturedPhoto|length %}
        {% set asset = entry.eventFeaturedPhoto.one() %}
        {% set sizes = [
          '(max-width: 700px) 100vw',
          '(max-width: 1045px) 650px',
          '50vw'
        ] %}
    
        {% include "partials/assets/image-types/natural" with {"sizes": sizes} %}
      {% endif %}
    </div>
  </div> #}

		{# {% if entry.intro|length %}
      <div class="section__header">
        <div class="section__main">
          <div class="section__header-content">
            {{ entry.intro }}
          </div>
        </div>
      </div>
    {% endif %} #}

    {# TEMPORARY REMOE SECTION #}
    {# {% if entry.stamp|length %}
      {% set stamp = entry.stamp.one() %}
      <img class="stamp stamp--item stamp--main {{ entry.slug }}" src="{{ stamp.getUrl('stamp') }}" alt="{{ entry.title }} Stamp">

      {% if entry.stampAlternative|length %}
        {% set astamp = entry.stampAlternative.one() %}
        <div class="stamp stamp--alt" style="background-color: {{ entry.festivalColor }}">
          <img class="stamp--item" src="{{ astamp.getUrl('stamp') }}" alt="{{ entry.title }} Stamp">
        </div>
      {% else %}
        <div class="stamp stamp--alt">
          <img class="stamp--item" src="{{ stamp.getUrl('stamp') }}" alt="{{ entry.title }} Stamp">
        </div>
      {% endif %}
    {% endif %} #}

    {# TEMPORARY REMOVE LINEUP #}
		{# <section id="lineup" class="waypoint section__header">
			<div class="section__main">
        {% include 'events/partials/festival/lineup' %}
      </div>
		</section> #}

    {# TEMP: remove blocks #}
	  <div class="section__main">
	  	<section id="artister" class="waypoint content-block cf">
	  	  {% include 'events/partials/festival/artists' %}
	  	</section>

	  	<div class="nav--side">
        <div>
          {# <a class="button button--top u-section-visible" href="#">
            {{ 'Top'|t }}
          </a> #}

          <a class="button button--bottom u-section-visible" href="#program">
            {{ 'Program'|t }}
          </a>
        </div>

        <div>
          {% if entry.stamp|length %}
            <a href="#top">
              <img class="stamp stamp--item stamp--fixed u-section-visible {{ entry.slug }}" src="{{ stamp.getUrl('stamp') }}" alt="{{ entry.title }} Stamp">
            </a>
          {% endif %}
        </div>
	  	</div>
	  </div>

    {# Festival Program section #}
    {% set program = craft.ekko.prepProgram(performancesRaw) %}
    {% if program %}    
      <section id="program" class="program content-block waypoint">
        <div class="toggler">
          <h2>{{ 'Program'|t }} <span class="icon toggle-icon"></span></h2>
        </div>

        <div class="column-wrapper">
          {% set locations = craft.categories.group("locationsCategory").relatedTo({
            'sourceElement': performancesRaw,
            'field': 'location'
          }).all()
          %}

          {% for day, events in program %}
          <div class="column">
            <span class="date">{{ date(day)|date('D d.F')|replace('. ', ' ')|replace('.', '. ')|title }}</span>
            {% for location in locations %}
              {% if attribute(events, location.fullTitle) is defined %}

                {% set perfs = attribute(events, location.fullTitle) %}
                <span class="location">{{ location.fullTitle }}</span>
                <ul class="cf">
                  {% for p in perfs %}
                    {% set a = p.artist[0] %}
                    <li>
                      <span class="time">{{ p.time|date('H:i') }}</span>
                      <a href="{{ a.url }}">
                        <span class="title">{{ a.shortTitle ? a.shortTitle : a.title }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {# Festival Ticket Section #}
    <section id="billetter" class="waypoint content-block content-block--column">
      <div class="toggler">
        <h2>{{ 'Billetter'|t }} <span class="icon toggle-icon"></span></h2>
      </div>

      <div class="section__content">
        {% set ticketBlocks = entry.tickets.all() %}
        {% for block in ticketBlocks %}

          {% set type = block.type.handle %}
          {% set isFirstConsecutiveBlockOfType = (loop.first or type != block.getPrev().type.handle) %}
          {% set isLastConsecutiveBlockOfType = (loop.last or type != block.getNext().type.handle) %}

          {% if block.type == 'text' %}
            <div class="content-text">
              {{ block.textContent }}
            </div>
          {% elseif block.type == 'ticket' %}

            {% if isFirstConsecutiveBlockOfType %}
              <div><ul>
            {% endif %}

            <li>
                <div>
                  {{ block.description }}
                  {% if block.subdescription %}<span class="ticketBlock_description">{{ block.subdescription }}</span>{% endif %}
                </div>
                <span class="ticketBlock_price meta">({{ block.price }})</span>
            </li>

            {% if isLastConsecutiveBlockOfType %}
              </ul></div>
            {% endif %}

          {% endif %}
        {% endfor %}

        <div>
          <a class="ticket-button" href="{{ entry.ticketLink }}" target="_blank">{{ 'Kjøp billetter'|t }}</a>
        </div>
      </div>
    </section>

    {# Festival Information Sections #}
    <section id="informasjon" class="waypoint content-block content-block--column content-info-sections h-vh">
        {% for section in entry.sections.all() %}
          {% set sectionId = section.sectionId ? section.sectionId : section.sectionTitle|lower|kebab %}

          <div id="{{ sectionId }}" class="waypoint">
            <div class="toggler">
              <h2>{{ section.sectionTitle }} <span class="icon toggle-icon"></span></h2>
            </div>
            <div class="section__content">
              <div class="content-text">
                {{ section.sectionBody}}
              </div>
            </div>
          </div>
        {% endfor %}
    </section>

    {# {% endcache %} #}
	</section>

{% endblock %}
