{# News entries for frontpage #}
{% set newsEntries = craft.entries.section('news').all() %}

{% if newsEntries|length %}
    <div class="news-wrapper">
        <div class="container">
            <div class="news-header">
                <a href="#news"><h1>{{ 'Nyheter'|t }}</h1></a>
            </div>
        </div>
        <div id="news" class="news-content content-text waypoint swiper-container">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-container">
                <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
            </div>
            <div class="swiper-wrapper">
                {% for newsEntry in newsEntries %}
                    <article class="news__entry swiper-slide {{ loop.index == 1 ? 'pos--' ~ newsEntry.newsMediaPosition }}">
                        {% if newsEntry.newsPhoto|length or newsEntry.newsEmbed|length %}
                            <div class="media">
                                {% if newsEntry.newsEmbed|length %}
                                    {{ newsEntry.newsEmbed|raw }}
                                {% else %}
                                    {% set asset = newsEntry.newsPhoto.one() %}
                                    {% include 'partials/assets/image-types/natural' %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="text">
                            <h2><a class="news__mainLink" href={{newsEntry.url}}/>{{ newsEntry.title }}</a></h2>
                            <p class="news__date tiny">
                                <time datetpubdate>{{ newsEntry.postDate|date('Y-m-d') }} </time>
                            </p>

                            {% if newsEntry.newsIntro|length %}
                                {{ newsEntry.newsIntro }}
                            {% else %}
                                {% set firstTextBlock = newsEntry.complexContent.type('text').one() %}
                                {% if firstTextBlock %}
                                    {{ firstTextBlock.text|wordLimit(60) }}
                                {% endif %}
                            {% endif %}
                        </div>
                        <a class="news__moreLink tiny" href={{newsEntry.url}}/>{{ 'Les mer'|t }}</a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}