<div id="newsletter-modal" data-remodal-id="signup">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="modal-content">
        {{ globalContent.newsletterModalContent }}
    </div>

    <form class="modal-form" action="" method="POST">
		<input type="hidden" name="action" value="mailchimpSubscribe/list/Subscribe">

		<div class="field-line">
		  <label>{{ 'Fornavn'|t }}:</label>
		  <input type="text" name="mcvars[FNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
		</div>

		<div class="field-line">
		  <label>{{ 'Etternavn'|t }}:</label>
		  <input type="text" name="mcvars[LNAME]" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.LNAME }}{% endif %}"/>
		</div>

		<div class="field-line">
		  <label{% if (mailchimpSubscribe is defined) and (mailchimpSubscribe.errorCode=='1000') %} class="error"{% endif %}>{{ 'E-post'|t }}:</label>
		  <input type="email" name="email" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.email }}{% endif %}"/>
		</div>

        {{ globalContent.newsletterDisclaimer }}
		
		<span class="form-status"></span>

		<a class="modal-button" href="#" target="_blank">{{ 'Meld på'|t }}</a>
	</form>
</div>