{% extends "_layout" %}

{% set class = 'arena -dark theme-dark' %}
{% set title = "#{tag|upper} - Digital Arena" %}

{% set tag = craft.tags().group('digitalArenaProjects').title(tag).one() %}
{% set projects = craft.entries.section('arena').projectTag(tag).all() %}

{% block content %}
  <div class="section">
    <div class="tag-project-list">
      {% if tag.description %}
        <div class="tag-block tag-description">
          {% if tag.fullTitle %}<h2 class="r w-400">{{ tag.fullTitle}}</h2>{% endif %}
          <div class="tag-description-container">{{ tag.description }}</div>
        </div>
      {% endif %}
      {% for entry in projects %}
        {% set thumbnail = craft.videoEmbedder.getVideoThumbnail(entry.videoUrl) %}
        {# {% set title =  entry.projectTitle ? "#{entry.artistName} «#{entry.projectTitle}»" : entry.artistName %} #}
        {% set title = entry.artistName %}
        <div class="tag-block tag-project {{ loop.index == 1 ? '-first' : ''}}">
          <span class="project-tag">{{ entry.title }}</span>
          <div class="media-container">
            <a href="{{ "/digitalarena/tag/#{tag}/#{entry.slug}" }}">
              <img src="{{ thumbnail }}" title="{{ entry.title }}" />
            </a>
          </div>
          <h2 class="project-title"><a class="content-link" href="{{ "/digitalarena/tag/#{tag}/#{entry.slug}" }}">{{ title }}</a></h2>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}