{#
 # About page template
 # --------------------
 #
 #}

{% extends "_layout" %}

{% set class = 'archive-page' %}
{% set title = entry.title %}

{% block content %}
  <section class="section cf">
    <header class="page__header">
      <h1 class="page__title">{{ entry.pageTitle }}</h1>
    </header>

    {# Description #}
    <article class="content page__content">
      {% if entry.pageContent %}
        <div class="archive__intro content-text">
          <div class="content-text-wrapper">
            {{ entry.pageContent }}
          </div>
        </div>
      {% endif %}

      {# List of past events #}
      {% set allPastEvents = craft.entries.section('events').date('<=' ~ now|date('Y-m-d')).orderBy('date desc').all() %}
      {% for event in  allPastEvents %}
        {% set performances = event.performances.with(['artist']).all() %}
        {% set artists = craft.ekko.prepArtists(performances) %}

        <div class="archive__event archive__type-{{ event.type }} {{ artists|length <= 3 ? '-center' : ''}}">
          <div class="archive__event-header">
            <h1>{{ event.title }}</h1>
            <span class="date">{{ event.date|date('Y-m-d') }}
              {% if event.dateEnd %}
                -
                {{ event.dateEnd|date('Y-m-d') }}
              {% endif %}
            </span>
          </div>

          <ul>
            {% if artists|length == 0 %}
              <li class="archive__artist">&mdash;</li>
            {% else %}
              {% for artist in artists %}
                <li class="archive__artist">
                  {# add link to the artist page #}
                  <a href="{{ artist.url }}">
                      {{ artist.title }}{%- if not loop.last %}<span class="sep"></span>{% endif %}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>

        </div>
      {% endfor %}

      {% if entry.pastEvents %}
        {% set allPastEvents = entry.pastEvents.all() %}
        {% for event in allPastEvents %}
          {% set artists = event.artists|split("\n") %}

          <div class="archive__event -no-link archive__type-{{ event.isFestival ? 'festival' : 'event' }} {{ artists|length <= 3 ? '-center' : ''}}">
            <div class="archive__event-header">
              <h1>{{ event.eventTitle }}</h1>
              <span class="date">{{ event.date|date('Y-m-d') }}
                {% if event.dateEnd %}
                  -
                  {{ event.dateEnd|date('Y-m-d') }}
                {% endif %}
              </span>
            </div>

            <ul>
              {% if artists|length == 0 %}
                <li class="archive__artist">&mdash;</li>
              {% else %}
                {% for artistTitle in artists %}
                  <li class="archive__artist">
                    <span>
                      {% spaceless %}
                        {{ artistTitle|replace('\n', '')|trim }}
                      {% endspaceless %}
                    </li>
                  </li>
                </span>
                {% if not loop.last %}
                  <span class="sep"></span>
                {% endif %}
              </li>
            {% endfor %}
          {% endif %}
        </ul>

      </div>
    {% endfor %}
  {% endif %}

  {# Back link #}
  <div class="button-wrapper cf">
    <a class="button button--right" href="{{ siteUrl }}">{{ 'Arrangementer'|t }}</a>
  </div>
</article></section>{% endblock %}
